$secondary-colour: #49ff11;
$alert-colour    : #f03;
$warning-colour  : yellow;
$success-colour  : green;

$grey       : #959595;
$light-grey : #f1f1f1;
$medium-grey: #050505;
$dark-grey  : #333333;

$main_color        : #1B2273;
$middle_main_color : #06238C;
$light_main_color  : #9597BD;
$accent_color      : #E1A502;
$bg_color          : #fff;

$major  : #2F3031;
$minor  : #113628;
$accent : #146052;
$light  :#FDFBF5;
$dark_light  :#e0dac7;
$white  : #fff;
$red    : #D52340;
$green  : #25D366;